<div class="navbar pd5">
    <div class="container">
        <a class="brand">
            <img src="assets/img/cnodejs_light.svg">
        </a>
        <div class="search">
            <input class="form-control search-query"  placeholder="搜索" />
        </div>
        <ul class="nav nav-pills pull-right">
            <li><a [routerLink]="['./home']" routerLinkActive="active">首页</a></li>
            <li><a [routerLink]="['./home']" routerLinkActive="active">新手入门</a></li>
            <li><a [routerLink]="['./home']" routerLinkActive="active">API</a></li>
            <li><a [routerLink]="['./home']" routerLinkActive="active">关于</a></li>
            <li><a [routerLink]="['./home']" routerLinkActive="active">注册</a></li>
            <li><a [routerLink]="['./home']" routerLinkActive="active">登录</a></li>
        </ul>
    </div>
</div>