.user_avatar{
    height: 30px;
    border-radius: 3px;
}
img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: 0;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
